@using Oqtane.Modules.Controls

@namespace [Owner].Module.[Module]
@inherits ModuleBase

@if (IsLoaded)
{
    <MudThemeProvider />
    <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
        <MudGrid>
            <MudItem xs="12">
                <MudPaper Class="pa-4">
                    <MudForm @ref="mudform" @bind-IsValid="@success">
                        <MudTextField @bind-Value="@[Module].Name" Label="@Localizer["Name.Text"]" HelperText="@Localizer["Name.HelpText"]" Required="true" RequiredError="@Localizer["Name.Required"]" />
                    </MudForm>
                </MudPaper>
                <MudDivider Class="pt-1 pb-1" />
                <MudPaper Class="pa-3">
                    <MudStack Justify="Justify.SpaceBetween" Row="true">
                        <MudItem>
                            <AuditInfo DateTimeFormat="dd-MMM-yyyy hh:mm" CreatedBy="@[Module].CreatedBy" CreatedOn="@[Module].CreatedOn"
                                       ModifiedBy="@[Module].ModifiedBy" ModifiedOn="@[Module].ModifiedOn"></AuditInfo>
                        </MudItem>
                        <MudItem Class="d-flex align-end ">
                            <div class="d-flex flex-row justify-end gap-0">
                                <MudButton Variant="Variant.Filled" Color="Color.Success" DisableElevation="true" OnClick="@(()=>Save())">@Localizer["Save"]</MudButton>
                                <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" Href="@NavigateUrl()" Class="mx-2">@Localizer["Cancel"]</MudButton>
                            </div>
                        </MudItem>
                    </MudStack>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>
}

